.spinner{
    display: flex;
    margin:  0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    justify-content: center !important;
    height: 100vh !important;
    align-items: center !important;
    
}
